.login {
    margin: 0 auto;
    margin-top: 318px;
    margin-bottom: 228px;
    position: relative;
}

.message {
    text-align: center;
    font-size: 12px;
    color: red;
    margin-bottom: 15px;
}